* {
    margin: 0;
    padding: 0;
}

body{
    margin:0;
    padding: 0;
    color: rgba(74, 74, 74, 0.8);
}

.menu a{
    font-family: Verdana,sans-serif;
    line-height: 1.5;
    font-size: 14px;
}
.menu li{
    list-style-type: none;
}

.menu li .fas{
    font-size: 10px;
    padding: 0 4px;
}
.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    min-width: 100px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3c9aa0;
    color: #f1f1f1;
    outline:0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display:block;
}

.menu li{
    position: relative;
}
.sub-menu{
    display: none;
    position: absolute;
    left: 100px;
    top: -45px;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    min-width: 100px;
}
.menu li:hover {
    background-color: rgb(221,221,221);
}
.menu li:hover ul {
    display: block;
}
.scroll-container{
    background-color: lightgrey;
}

.scroll-container .fa .fa-caret-down{
    color: #000;
}

#navigation-container.nav-menu{
    height: 350px;
    overflow-y: auto;
}
::-webkit-scrollbar{
    display: none;
}

.btn-scroll{
    display: none;
    position: absolute;
    width: 100px;
    height: 8px;
    background-color: rgba(164, 167, 169, 1);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
}
.btn-scroll-up{
    top: -8px;
}
.btn-scroll-down{
    bottom: -8px;
}
.btn-scroll .fas{
    color: #fff;
    display: block;
    text-align: center;
    font-size: 8px;
}

.nav-menu[data-overflowing='top'] .btn-scroll-up,
.nav-menu[data-overflowing='both'] .btn-scroll-up,
.nav-menu[data-overflowing='both'] .btn-scroll-down,
.nav-menu[data-overflowing='bottom'] .btn-scroll-down {
    display: block;
}

.menu{
    transition: transform .2s ease-in-out;
}

.menu-no-transition{
    transition: none;
}

.menu li{
    position: static;
}

.wrapper-sub-menu {
    position: absolute;
    z-index: 10;
}

.menu li:hover .sub-menu li .sub-menu li{
     display: none;
 }
.menu li:hover .sub-menu li:hover .sub-menu li{
    display: none;
}

.menu li:hover .sub-menu li:hover .sub-menu li{
    display: block;
}